*{
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    font-family: "Poppins", sans-serif;
}

nav{
    /* border: 2px solid white; */
    background-color: black;
    display: flex;
    align-items: center;
    padding: 10px 0px;
}
nav img{
    height: 30px;
    margin-left: 5%;
}

nav hr{
    margin-left: 2%;
}
nav ul{
    display: flex;
    align-items: center;
    gap: 30px;
    margin-left: 4%;
}

nav ul a{
    text-decoration: none;
    color: white;
    font-size: 13px;
    font-weight: 600;
}

nav button{
    background-color: #ba0cc5;
    border-radius: 7px;
    padding: 3px 15px;
    margin-left: 40%;
}

nav button a{
    text-decoration: none;
    color: white;
}

section {
    background-image: url("./bg.png");
    background-size:100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 93vh;
    }

    .heading{
        /* border: 2px solid red; */
        height: 150px;
        width: 550px;
        transform: translate(65% , 80%);
    }

    .heading h1{
        font-family: "Poppins";;
        color: white;
        font-size: 60px;
        font-weight: 700;
        text-align: center;
    }

    section h3{
        /* border: 2px solid green; */
        color: white;

        transform: translate(33% , 550%);
        font-weight: 600;
        font-size: 19px;
    }

    section button{
        background-color: #ba0cc5;
        border-radius: 9px;
        padding: 10px 19px;
        transform: translate(220% , 400%);
    }
    
    section button a{
        font-size: 1.2rem;
        font-weight: 600;
        color: white;
        text-decoration: none;
        
    }

